In [12]:
hello()
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("this is krishna")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("I am in MCA ")
print("I am a Trainer")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
this is krishna
Hello world
Hello world
Hello world
Hello world
Hello world
I am in MCA
I am a Trainer
Hello world
Hello world
Hello world
Hello world
Hello world

In [11]:
def hello():
    print("Hello world")
    print("Hello world")
    print("Hello world")
    print("Hello world")
    print("Hello world")

In [5]:
hello()
print("this is krishna")
hello()
print("I am in MCA ")
print("I am a Trainer")
hello()

Hello world
Hello world
Hello world
Hello world
Hello world
this is krishna
Hello world
Hello world
Hello world
Hello world
Hello world
I am in MCA
I am a Trainer
Hello world
Hello world
Hello world
Hello world
Hello world

In [8]:
del hello

In [9]:
hello()

NameError: name 'hello' is not defined

In [13]:
hello()

Hello world
Hello world
Hello world
Hello world
Hello world

In [14]:
def Abhay():
    print("I am Abhay pratap singh")

In [15]:
Abhay()

I am Abhay pratap singh

In [16]:
hello()

Hello world
Hello world
Hello world
Hello world
Hello world

In [23]:
def hello(a):
    for i in range(a):
        print(i,"Hello world")

In [1]:
def function1(arg):
    print(arg)

In [2]:
function1(1)

1

In [3]:
function1([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [4]:
function1({1,2,3,4})

{1, 2, 3, 4}

In [5]:
function1({1:"krishna",2:"kumar"})

{1: 'krishna', 2: 'kumar'}

In [8]:
function1((1+2j))

(1+2j)

In [11]:
function1(bool(0))

False

In [12]:
function1((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [15]:
a=1,2,3,4,5
print(a,type(a))

(1, 2, 3, 4, 5) <class 'tuple'>

In [17]:
function1((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [18]:
def intro(name,father_name):
    print(f"I am {name}")
    print(f"My father's name is {father_name}")

In [19]:
intro("Abhay","Pramod")

I am Abhay
My father's name is Pramod

In [25]:
def intro2(name,father_name="God"):
    print("I am {}".format(name))
    print("My father name is {}".format(father_name))

In [26]:
intro2("krishna")

I am krishna
My father name is God

In [27]:
intro2("krishna","Sunil")

I am krishna
My father name is Sunil

In [34]:
def intro2(name,father_name="God"):
    print("I am {}".format(name))
    print("My father name is {}".format(father_name))

In [37]:
def intro3(name="Krishna",father_name="Sunil"):
    print("I am {}".format(name))
    print("My father name is {}".format(father_name))

In [44]:
def intro3():
    name=input("Enter your name:")
    father_name=input("Enter your father's name :")
    print("I am {}".format(name))
    print("My father name is {}".format(father_name))

In [45]:
intro3()

I am krishna
My father name is Sunil

In [62]:
def intro4(name,father_name="God"):
    print("I am {}".format(name))
    print("My father name is {}".format(father_name))

In [52]:
name=input("Enter your name:")
father_name=input("Enter your father's name :")
intro4(name,father_name)
del father_name

I am krishna
My father name is sunil

In [61]:
name=input("Enter your name:")

intro4(name)

I am krishna
My father name is God

In [63]:
def school(a,b):
    print(f"My name is {a}")
    print(f"I go to {b}")

In [64]:
school("krishna","SSVM")

My name is krishna
I go to SSVM

In [65]:
def school(a,b="SSVM"):
    print(f"My name is {a}")
    print(f"I go to {b}")

In [66]:
school("krishna")

My name is krishna
I go to SSVM

In [67]:
name=input("Enter your name:") #"krishna"
school(name)

My name is Krishna
I go to SSVM

In [74]:
def add():
    num1=int(input("Enter 1st number :"))
    num2=int(input("Enter 2nd number :"))
    num3=int(input("Enter 3rd number:"))
    return (num1+num2)*num3

In [75]:
a=add()

In [76]:
print(a)

210

In [77]:
print(a+10)

220

In [78]:
def add():
    num1=int(input("Enter 1st number :")) #10
    num2=int(input("Enter 2nd number :")) #20
    return (num1+num2)

In [79]:
a=add()

In [80]:
def mul(arg):
    num3=int(input("Enter 3rd number:"))
    print(arg*num3)

In [81]:
mul(a)

210

In [2]:
# lambda function(Python) /Annonymous function(Java)/fat arrow function(dart/javascript =>)
# lambda function which doesnot have any name; lambda function contain only single statement

In [3]:
lambda a,b: print(a+b)

In [6]:
x=lambda a,b: print(a+b)

In [7]:
x(2,3)

5

In [25]:
import builtins
y=lambda a,b,c,d,e:sum((a,b,c,d,e))

In [26]:
y(2,3,43,54,6)

108

In [29]:
k=lambda *n:print(sum(n),type(n))

In [30]:
k(1,2,3,4,5)

15 <class 'tuple'>

In [33]:
k=lambda a,b,c,d,*n:print(sum((a,b,c,d)),sum(n),type(n))

In [34]:
k(1,2,3,4,44,5,6)

10 55 <class 'tuple'>

In [36]:
b=2

In [37]:
m=lambda a,b:print("this is a:",a);print("this is b:",b)

this is b: 2

In [38]:
m(2,1)

this is a: 2

In [39]:
m("krishna","Sunil")

this is a: krishna

In [44]:
m=lambda a,b="God":print("this is a:",a,"\nthis is b:",b)

In [45]:
m("krishna","Sunil")

this is a: krishna
this is b: Sunil

In [46]:
m("Suraj")

this is a: Suraj
this is b: God

In [48]:
# 1,2,3,4,5,6,7,8,9,0  def ,lambda , donot use sum()

In [53]:
def add(*n):
    a=0
    for i in n:
        a=a+i
    print(a)

In [54]:
add(1,2,3,4,5,6,7,8,9,0)

45

In [59]:
add2=lambda *n,a=0:sum(n)

In [60]:
add2(1,2,3,4,5,6,7,8,9,0)

45

In [9]:
def factorial():
    n=int(input("enter your range:")) #3
    a=1
    for i in range(1,n+1):
        a=a*i
    print(a)

In [12]:
factorial()

1

In [65]:
def factorial(n):
    a=1
    for i in range(1,n+1):
        a=a*i
    print(a)

In [67]:
n=int(input("enter your range:")) #3    n=int(input("enter your range:")) #3
factorial(n)

6

In [6]:
def factorial(n):
    if n==1:
        return 1
    else:
        return (n*factorial(n-1))

In [7]:
factorial(3)

6

In [8]:
import sys
sys.getrecursionlimit()

3000